/* --------Reset CSS--------- */
body {
  overflow-x: hidden;
}
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  p {
    margin-bottom: 0;
    padding: 0vw;
  }
  
  /* -------Header-------- */
  header {
    margin-top: 40px;
    text-align: center;
  }
  header h1 {
    color: #D04F4F;
    font-weight: 700;
    font-size: 36px;
    font-family: 'DM Sans', 'sans-serif'; 
  }

  /* Queries section */
  .query__section {
    position: relative;
    margin: 0 5px;
  }

  .query__input {
    background-color: #E7E7E7;
    border-radius: 5px;
    width: 84%;
    height: 60px;
    display: block;
    margin: 20px auto;
    border: none;
    font-family: 'Lato', 'sans-serif';
    font-size: 18px;
    padding: 10px 18px;
  }

  .query__icon {
    position: absolute;
    top: 30px;
    right: 9vw;
    padding-right: 15px;
  }

  .buttons__selected {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 0px 8.2%;
  }

  .ingredients__selected__setup {
    background-color: #3282F7;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Lato', 'sans-serif';
    margin-right: 8px;
    padding: 12px;
    text-align: center;
  }

  .appliance__selected__setup {
    background-color: #28dd88;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Lato', 'sans-serif';
    margin-right: 8px;
    padding: 12px;
    text-align: center;
  }


  /* ------------ Buttons range ----------------*/
  .buttons__range {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0px 0px 8.2%;
  }

  .firstRange, .secondRange {
    display: flex;
    flex-wrap: wrap;
  }
  .recipe__button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 20px;
    width: 220px;
    height: 69px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 10px;
  }

  .text__button {
    font-family: 'Lato', 'sans-serif';
    color: aliceblue;
    font-weight: 700;
    font-size: 18px;
  }

  .ingredient__button {
    background-color: #3282F7;
    width: 220px;
    transition: width 1s;
  }
  .devices__button {
    background-color: #68D9A4;
    width: 220px;
    transition: width 1s;
  }
  .tools__button {
    background-color: #ED6454;
    width: 220px;
    transition: width 1s;
  }
  .toolsButtonTransition {
      width: 450px;
  }

  .fa-chevron-down {
    color: aliceblue;
  }

  .firstButton input, .secondButton input, .thirdButton input {
    background-color: #3282F7;
    color: #FFFFFF;
    border: none; 
    outline: none;
    display: none;
    font-size: 18px;
    width: 250px;
    height: 60px;
  }

  .secondButton input {
    background-color: #68D9A4;
  }
  .thirdButton input {
    background-color: #ED6454;
  }


 
  /* List of integredients sorted in alphabetic order  */
  .listIngredients {
    display: flex;
    height: 370px;
    width: 222px;
    flex-wrap: wrap;
    background-color: #3282F7;
    color: #FFFFFF;
    font-family: 'Lato', 'sans-serif';
    position: absolute;
    z-index: 3;
    display: none;
    overflow-x: auto;
    overflow-y: scroll;
  }

  .firstButton, .secondButton, .thirdButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 93%;
  }
  
  .listIngredients li:hover {
    background-color: #9fbfee;;
    cursor: pointer;
  }


  .listAppliances {
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 220px;
    flex-wrap: wrap;
    background-color: #68D9A4;
    color: #FFFFFF;
    font-family: 'Lato', 'sans-serif';
    position: absolute;
    z-index: 3;
    display: none;
    margin-top: -19px;
  }
  .listAppliances li:hover {
    background-color: #b5e8c9;
    cursor: pointer;
  }
  
  
  .listUstensils {
    height: 322px;
    width: 200px;
    background-color: #ED6454;
    color: #FFFFFF;
    font-family: 'Lato', 'sans-serif';
    position: absolute;
    z-index: 3;
    display: none;
    margin-top: -19px;
    transition: width 1s, display 1s;
  }
  .chevron {
    transform: rotate(0deg);
    transition: transform 1s;
  }

  .rotateChevron {
    transform: rotate(180deg);
  }

  .listUstensils li:hover {
    background-color: #f7a7a5;
    cursor: pointer;
  }
  
  .listIngredients li, 
  .listAppliances li, 
  .listUstensils li {
    margin : 13px 5px 2px 10px;
    cursor: pointer;
  }

  .display__list {
    display: block;
    width: 450px;
  }
  .display__text {
    display: none;
  }
  .display__input {
    display: block;
  }

  /* -------Recipes Card-------- */

  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 -7px;
  }


  .recipe__card {
    padding: 5px;
    margin: 10px 7px;
    width: 27.1%;
  }
  .fake__image {
    height: 175px;
    background-color: #C7BEBE;
    border-radius: 5px 5px 0px 0px;
  }
  .recipe__title {
    overflow-wrap: break-word; 
    width: 70%;
  }
  .recipe__time, .recipe__title {
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family: 'Lato', 'sans-serif';
  }
  .recipe__time {
    font-weight: 700;
  }
  .recipe__clock {
   margin-right: 8px;
  }
  .recipe__body {
    height: 275px;
    background-color: #E7E7E7;
    border-radius: 0px 0px 5px 5px;
    padding: 5px 10px 0px 10px;
}
.recipe__header {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .recipe__preparation {
    display: flex;
  }

  .recipe__preparation ul {
    flex: 1;
    font-family: 'Lato', 'sans-serif';
    font-weight: 400;
    margin-right: 20px;
    font-size: 12px;
    line-height: 14px;
  }
  .recipe__ingredients {
    flex: 1;
    font-size: 12px;
    line-height: 12px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .ingredient__name {
    font-weight: 700;
  }








  /* ------------- Responsive -------------*/

      /* ------ Range Buttons ------  */
      @media screen and (max-width: 404px) {
        .recipe__button {
          width: 200px;
        }
      }


     /* ------ Recipe Cards ------  */
  @media screen and (max-width: 860px) {
    .recipe__card {
      width: 40.5%;
    }
  }
  @media screen and (max-width: 580px) {
    .recipe__card {
      width: 83%;
    }
  }